:root {
	--view-transition-group-default-duration: 0.25s;

	/* Ease-out Exponential. Based on two to the power ten. */
	--ease-out-exponential: cubic-bezier(0.19, 1, 0.22, 1);
}

::view-transition-group(*),
::view-transition-old(*),
::view-transition-new(*) {
	animation-duration: var(--view-transition-group-default-duration);
	animation-timing-function: var(--ease-out-exponential);
}

.transition-target {
	view-transition-name: target-photo;
}

:is(.to-photo, .to-thumbnails)::view-transition-old(target-photo),
:is(.to-photo, .to-thumbnails)::view-transition-new(target-photo) {
	/* Prevent the default animation,
  so both views remain opacity:1 throughout the transition */
	/* animation: none; */
	/* Use normal blending,
  so the new view sits on top and obscures the old view */
	mix-blend-mode: normal;
	/* Make the height the same as the group,
  meaning the view size might not match its aspect-ratio. */
	height: 100%;
	/* Clip any overflow of the view */
	overflow: clip;
}

/* The old view is the thumbnail */
.to-photo::view-transition-old(target-photo) {
	/* Maintain the aspect ratio of the view,
  by shrinking it to fit within the bounds of the element */
	object-fit: contain;
}

/* The new view is the full image */
.to-photo::view-transition-new(target-photo) {
	/* Maintain the aspect ratio of the view,
  by growing it to cover the bounds of the element */
	object-fit: cover;
	animation: none;
}

.to-thumbnails::view-transition-old(target-photo) {
	object-fit: cover;
	animation: none;
}
.to-thumbnails::view-transition-new(target-photo) {
	object-fit: contain;
}

@media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}

:root {
	font-family: serif;
}

body {
	margin: 0;
	background-image: url('$lib/assets/base-background.png');
}

img {
	height: auto;
	max-width: 100%;
	object-fit: contain;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
